[2018-10-11 14:39] jeromesimeon opened #2 "allow people to edit the name and version of the template"
This should be linked to changes on the template's package.json

[2018-10-11 14:39] jeromesimeon opened #3 "links to the docs for each of the panels"

[2018-10-11 14:40] jeromesimeon opened #4 "link to submit an issue"

[2018-10-11 14:40] jeromesimeon opened #5 "ability to edit the model"

[2018-10-11 14:40] jeromesimeon opened #6 "persistence of edits to local storage in the browser"

[2018-10-11 14:41] jeromesimeon opened #7 "red underlines for errors in the code editors"

[2018-10-11 14:41] jeromesimeon opened #8 "form generation for simple JSON data"

[2018-10-11 14:42] jeromesimeon opened #9 "Fixes to download archive"
The current download archive button sometimes does not yield a consistent cta archive (e.g., sample is not saved from UI state).

[2018-10-11 14:43] jeromesimeon opened #10 "allow to edit the template README"

[2018-10-11 14:44] jeromesimeon opened #11 "Add support for creating template tests"
This could be done by having a `create test` button on the execution tab. We may need a test pane.

[2018-10-11 14:46] jeromesimeon opened #12 "Allow to load a template library from URI"
Currently the template library is 'baked in'. We might want to allow users to pass a template library URI to load their own templates

[2018-10-11 14:48] jeromesimeon opened #13 "Filter templates by latest template version for the given Cicero version"
Currently some of the pre-propulated links do not work since they point to prior versions of the templates for which a local CTA archive has not been created.

[2018-10-18 14:11] jeromesimeon commented on #13
Done.

[2018-10-18 14:11] #13 closed

[2018-10-18 14:12] jeromesimeon commented on #10
Done.

[2018-10-18 14:12] #10 closed

[2018-10-18 14:12] jeromesimeon commented on #7
Done.

[2018-10-18 14:12] #7 closed

[2018-10-18 14:12] jeromesimeon commented on #4
Done with a banner.

[2018-10-18 14:12] #4 closed

[2018-10-18 14:13] jeromesimeon commented on #2
Done.

[2018-10-18 14:13] #2 closed

[2018-10-18 15:05] jeromesimeon opened #16 "Investigate monaco editor"
https://microsoft.github.io/monaco-editor/

[2018-10-18 15:06] jeromesimeon commented on #16
Could possibly replace codemirror, and might allow to share some of the infrastructure between the template studio and the VScode plugin.

[2018-10-18 15:09] jeromesimeon opened #17 "Notify users when they might lose their work"
e.g., load a new template when  current  template has  been changed
e.g., browser exit when previous template has been changed

[2018-10-22 20:42] jeromesimeon commented on #9
Done

[2018-10-22 20:42] #9 closed

[2018-10-22 20:42] jeromesimeon commented on #5
Done.

[2018-10-22 20:42] #5 closed

[2018-10-22 20:42] jeromesimeon commented on #17
Done.

[2018-10-22 20:42] #17 closed

[2018-10-22 20:42] jeromesimeon commented on #3
Vaguely done...

[2018-10-22 20:42] #3 closed

[2018-10-24 15:55] jeromesimeon opened #27 "Pass a template URI when loading the studio"
It would be useful to allow to pass a template URI when loading the studio. The studio would automatically load that template.

[2018-10-24 15:56] jeromesimeon opened #28 "Multiple requests in execution tests"
It would be useful to allow multiple kinds of requests for execution, currently it only loads one requests `request.json` from the archive.

[2018-10-24 21:05] jeromesimeon opened #29 "Tracking change to the template name and version"
Changes to template name or version should be considered a 'change' to the current template

[2018-10-24 21:06] jeromesimeon opened #30 "Change to the template grammar should trigger sample to JSON generation"
To reproduce:

1. Edit model, changing variable name for the template
2. Edit grammar, changing same variable name

This should reproduce the JSON with the new name rather than indicate and error

[2018-10-24 21:08] jeromesimeon opened #31 "Archive creation should include new request"
Downloading an archive should include updated requests

[2018-10-29 12:46] mttrbrts opened #32 "Upload of template archive"
Upload of template archive files would allow for 'roundtripping' of templates. For example, a lawyer could create the grammar and model, download the template and share it with their engineer, the engineer uploads the template and adds the Ergo logic etc.

[2018-10-30 16:54] jeromesimeon commented on #8
@mttrbrts is doing some work on form generation here: https://github.com/mttrbrts/concerto-form

[2018-10-30 16:55] jeromesimeon opened #33 "Changing model namespace"
The template studio does not handle namespace change in the model properly.

Currently, it returns a hard to understand error, because it fails to find the model that has been changed in the model manager.

[2018-10-30 16:58] jeromesimeon opened #34 "Welcome page"
It might be nice to have a welcome page in the template studio, maybe with the following options:
- Search template library
- New template (text only)
- New template (full)
- Drag and drop archive
- Load archive from URL

[2018-10-30 16:59] jeromesimeon opened #35 "Model tabs"
The model tab is nested for no good reason, model files should be moved to the top-level tab.

[2018-10-30 18:03] Ro5s commented on #32
This 'roundtrip' feature seems pretty helpful for lawyers (like myself) who are still learning things on the Ergo side / are unsure on upload specifics.

[2018-10-30 20:28] jeromesimeon commented on #29
fixed in PR #36

[2018-10-30 20:28] #29 closed

[2018-10-30 20:30] jeromesimeon opened #37 "More responsive UI"
The Template studio layout should take better advantage of the screen real estate available, whenever possible.

[2018-10-31 13:37] jeromesimeon commented on #37
Fixed in PR #39

[2018-10-31 13:37] #37 closed

[2018-10-31 13:38] jeromesimeon commented on #32
Some initial support is in PR #39 #40

[2018-10-31 13:38] jeromesimeon commented on #32
Still needs to work on properly reporting errors during upload/loading a template

[2018-10-31 13:39] jeromesimeon commented on #12
Support added in PR #39

[2018-10-31 13:39] #12 closed

[2018-10-31 14:37] jeromesimeon opened #41 "Support editing for the 'cicero.template' field in package.json"
The field cicero.template in package.json indicates either `clause` or `contract` and is used to check against which super type the contract template must be defined.

We should support editing it and trigger refresh when it is changed.

[2018-10-31 15:43] jeromesimeon opened #42 "Proper error message when loading a template fails"
There are all kinds of reasons loading a template might fail, e.g., wrong Cicero version, missing package.json, etc.

We should provide an error message when that happens.

[2018-10-31 15:44] jeromesimeon opened #43 "Issues with CodeMirror editor state (underlining errors)"
There seems to be some state conflict between the Ergo and the Model errors in CodeMirror (error in model showing underlining in the logic window!).

[2018-10-31 15:45] jeromesimeon commented on #32
Error reporting covered by new issue #42
Closing this issue

[2018-10-31 15:45] #32 closed

[2018-10-31 16:53] jeromesimeon commented on #41
Fixed in PR #44

[2018-10-31 16:53] #41 closed

[2018-10-31 17:58] jeromesimeon commented on #42
Fixed in PR #45

[2018-10-31 17:58] #42 closed

[2018-10-31 18:11] jeromesimeon opened #46 "Input URL cursor jumps to the end on edit"
It uses autoFocus which may not be the right thing to do, but at least made it work inside the modal. There might be some further help on this in the following thread:

https://github.com/facebook/react/issues/955

[2018-10-31 19:52] jeromesimeon commented on #27
Added in PR #47

[2018-10-31 19:52] #27 closed

[2018-10-31 19:53] jeromesimeon opened #50 "Distinguish New Empty Contract from New Empty Clause"
It would be nice to have the option when creating a template from scratch

[2018-11-01 11:58] TheLaughableCoder opened #51 "Add git like changes for viewing non-standard contracts"
It would be helpful for anyone reviewing a contract to see what changes have been made, Like git differences.

This would be especially handy if this is a standard contract that everyone in the idustry used. It would be easy to spot the differences between current contract and the one in the github repository.

![image](https://user-images.githubusercontent.com/8724460/47850261-9aee8a00-de0f-11e8-

[2018-11-06 16:39] jeromesimeon commented on #50
Implemented in PR #52

[2018-11-06 16:39] #50 closed

[2018-11-07 00:58] jeromesimeon commented on #43
A fix in PR #53

[2018-11-07 00:58] #43 closed

[2018-11-07 06:31] RyanHow opened #54 "Large contract text crashes the browser"
If you load some contract text that is not much longer than a 100 lines. Then the browser hangs and crashes.

[2018-11-07 14:59] jeromesimeon commented on #54
Thanks for the report. I could replicate the issue (on Chrome/MacOs X). Could you please let us know which platform/browser you are using?

[2018-11-07 15:05] RyanHow commented on #54
Windows Chrome

Firefox on Windows seems a bit more forgiving, but it hangs a lot and because almost unusable after 100 lines.

The issue appeared to be around the template.buildGrammar() call

[2018-11-07 15:30] jeromesimeon commented on #54
Yes, I just traced it there as well. This is the call building the internal grammar for the template. I've filed an issue against Cicero here:

https://github.com/accordproject/cicero/issues/232

So far, the system has been used mostly for single clause templates (possibly placed inside larger contracts) so we'll have to investigate.

[2018-11-07 15:34] RyanHow commented on #54
Thank you

[2018-11-07 15:44] jeromesimeon commented on #54
Note that I've had slightly better luck with shorter lines. In case that is a useful workaround until we fix this issue:
<img width="1041" alt="screen shot 2018-11-07 at 10 44 08 am" src="https://user-images.githubusercontent.com/670099/48142123-29349700-e27a-11e8-8cd4-4f5bf9bd53f2.png">

[2018-11-07 15:54] jeromesimeon commented on #54
This might provide some useful hints (i.e., tokenizer) https://github.com/kach/nearley/issues/111

[2018-11-13 21:13] jeromesimeon commented on #54
This problem can be traced to performance issues when using large strings in the Nearley parser used in Cicero. A PR to fix the problem (by upgrading to a more recent version of Nearley) is pending review here https://github.com/accordproject/cicero/pull/233

Once that PR is merged and a new version of Cicero is published, the template studio should work for much larger contract text.

[2018-11-14 16:56] jeromesimeon commented on #51
Monaco supports out of the box diff, apparently: https://microsoft.github.io/monaco-editor/

So maybe if we resolve #16 we get diff _for free_!

[2018-11-14 21:48] jeromesimeon commented on #54
The issue also happen for form feed:
[code]

[2018-11-16 03:10] RyanHow commented on #54
@jeromesimeon This seems to be working magnitudes better now. Thanks!

[2018-11-16 17:25] jeromesimeon opened #57 "Load Accord Project Template library index from URL"
The template studio currently loads the template index for the AP template library from a local copy. It should use the published index instead.

[2018-11-18 05:59] #54 closed

[2018-11-19 19:48] jeromesimeon commented on #6
This looks useful: https://www.robinwieruch.de/local-storage-react/

[2018-11-27 02:01] jeromesimeon commented on #57
Addressed in PR #61

[2018-11-27 02:01] #57 closed

[2018-11-28 18:15] jeromesimeon opened #62 "Upload from disk is broken"
Uploading a CTA archive from disk is currently broken (it does not complete).

[2018-11-30 18:47] mttrbrts opened #67 "Download link for individual files in the Test Execution panel"
When using a template archive locally (for example with `cicero execute`), I may want to seed/reuse the JSON and Text values from Template Studio.

We could make this easier by adding a download button (or link) to each of the fields in the Test Execution panel. It would also be helpful to be able to download the `sample.txt` and `grammar.tem` individually too.

[2018-12-06 23:00] DianaLease opened #69 "setState should follow React best practice"
currently, the pattern used for setting the React component's state is dangerous because `const state = this.state` does _not_ clone `this.state`. it's a reference to the state object, which means when you assign `state.loading = false` you are mutating the state object directly. we could deeply clone the state object and modify the clone, but what we should really do is use`setState` to update ju

[2018-12-07 17:44] jeromesimeon opened #70 ""Reset" v "Reset Contract" confusion"
'Reset' is used in two places with very different meaning: for the whole template, and for the contract state when testing execution.

<img width="1020" alt="screen shot 2018-12-07 at 12 42 05 pm" src="https://user-images.githubusercontent.com/670099/49663798-c02d7400-fa1d-11e8-8d0c-d105d05247e7.png">

This can be a big confusing. We might want to rename those buttons (e.g., "Revert changes" and "

[2018-12-07 18:15] jeromesimeon opened #71 "Global replace support"
When editing, it would be nice if changes to the contract text (e.g., name of a party) could be replaced everywhere in the contract.

This might require some level of UI tooling (e.g., a 'search/replace' button) but also require improvements to the template support in Cicero (e.g.,: https://github.com/accordproject/cicero/issues/4)

[2018-12-19 15:21] jeromesimeon commented on #70
Addressed in #73 `Reset` has been renamed into `Discard Changes`

[2018-12-19 15:21] #70 closed

[2018-12-19 16:12] jeromesimeon commented on #69
Also, we should avoid multiple consecutive `setState` calls whenever possible.

[2019-01-15 18:28] jeromesimeon opened #82 "Version in template tab does not edit"
The template tab has the version number, which used to be editable. It's frozen now.

[2019-01-15 18:44] jeromesimeon commented on #82
Fixed in PR #81

[2019-01-15 18:44] #82 closed

[2019-01-15 18:45] jeromesimeon commented on #46
Can't reproduce this, looks fixed!

[2019-01-15 18:45] #46 closed

[2019-01-15 18:46] jeromesimeon commented on #67
I would suggest tests should become part of the archive, so when you download them you get the corresponding tests.

[2019-01-15 18:47] jeromesimeon opened #83 "Add new models and new logic files"
Currently, the number of models and logic files is fixed based on the loaded templates. It would be good to be able to add new empty model or logic files.

[2019-01-15 18:49] jeromesimeon commented on #83
This could be with a small `+` button on the right to the model/logic tabs here:
<img width="694" alt="screen shot 2019-01-15 at 1 48 14 pm" src="https://user-images.githubusercontent.com/670099/51202291-6b0e3900-18cc-11e9-8f2b-089ff168a02d.png">

[2019-01-15 18:50] jeromesimeon commented on #83
If we can add new model or logic file, we might want to also be able to remove some.

[2019-01-18 19:50] jeromesimeon opened #85 "Template studio should gracefully handle templates without logic"
Currently, loading a template without logic raises an error.

[2019-02-06 21:23] Michael-Grover-C commented on #83
Potential solution mockup:

https://invis.io/GNQDQ9HZ5QE#/345313118_no_Template

[2019-02-06 21:26] jeromesimeon commented on #83
Let's use the great mockup from @Michael-Grover-C  at https://invis.io/GNQDQ9HZ5QE#/345313118_no_Template

[2019-02-11 10:57] MuhammadBilal1 opened #89 "Template Studio configured in IIS as website is not showing anything on launch page."
Hi,
I am trying to configure template studio project into the IIS 8. Gave the "...\template-studio\src" path into the site physical path.
Node.js other projects are working fine on my machine via IIS. But "template-studio" is not working correctly. Only white page with "Contribute on GitHub" label is visible.

When I run this project via "npm run start" project runs successfully at localhost:8080.

[2019-02-11 11:19] mttrbrts commented on #89
Hi @MuhammadBilal1 , thanks for opening an issue.

Template Studio is a ReactJS app and needs to be built before being used by a web-server. Please try running:

`npm run build`

Then use the `dist` directory as the path for IIS

[2019-02-11 12:40] MuhammadBilal1 commented on #89
Thanks for your response. It worked.
But now there is another issue. (But this issue came when I used the cmd)

Upon page load, I am getting a message "Server did not respond for URL [https://studio.accordproject.org/static/archives/helloworld@0.8.0.cta]" and everything is coming null.

![accord_1](https://user-images.githubusercontent.com/7131058/52563752-1ce54a80-2e24-11e9-8313-9956d7a31b00.png)

[2019-02-11 13:09] mttrbrts commented on #89
I'm glad to see that you're making progress!

Template Studio tries to download the sample templates from the web.

Perhaps this is something to do with the static content feature? https://www.syncfusion.com/kb/8633/how-to-enable-the-static-content-for-a-web-page-site-in-iis

Otherwise, maybe it's a firewall or security issue on your server. Any ideas?

[2019-02-11 14:07] MuhammadBilal1 commented on #89
@mttrbrts  Static Content is already there in my IIS.
I don't think any firewall issue is causing this.
I checked the security setting of the directory and found there is no issue in directory rights.

Can you please suggest something else!

[2019-02-11 14:12] MuhammadBilal1 commented on #89
@mttrbrts  Actually I found something, this might help me.
I found an error in console. Please see attached Image.

![accord_2](https://user-images.githubusercontent.com/7131058/52568590-fed21700-2e30-11e9-9668-3a3758cfff40.png)

[2019-02-11 14:28] jeromesimeon commented on #89
@MuhammadBilal1 Have you tried `npm run start` instead of `npm run build` ? the build script is meant for deployment, while (in theory) npm run start runs a local server with development configuration (so the path would be to your local host).

[2019-02-11 14:33] jeromesimeon commented on #89
If you do want to run your own server, you will have to setup an appropriate Cross-Origin-Resource-Sharing (CORS) configuration, since template studio tries to access resources on a third-party server (the links at studio.accordproject.org). This configuration can be server-specific.

[2019-02-11 14:46] MuhammadBilal1 commented on #89
@jeromesimeon : Yes, I want to run my own server (which is IIS).
Can you please help me with CORS? I am trying to setup, any help will be appreciated.

[2019-02-11 15:57] jeromesimeon commented on #89
@MuhammadBilal1 I'm afraid my understanding of CORS is quite limited. You might have better luck asking that question on the Accord Project Slack, or looking for help online.

I found this page with a bit of explanation on CORS:
https://www.keycdn.com/support/cors

Also there seems to be some material on IIS and CORS around, e.g.,
https://stackoverflow.com/questions/19323323/configure-iis-express-

[2019-02-12 10:23] MuhammadBilal1 commented on #89
@mttrbrts @jeromesimeon  : The interesting thing in my scenario is:
**Server did not respond for URL**
This issue is coming even if I am using the CMD "npm run start", but with localhost:8080 URL.
Please see attached images.

![accord_3](https://user-images.githubusercontent.com/7131058/52628693-013c7b80-2eda-11e9-9232-f9de384fe8fe.png)

![accord_4](https://user-images.githubusercontent.com/713105

[2019-02-13 07:31] MuhammadBilal1 commented on #89
@mttrbrts @jeromesimeon **Any help will be appreciated.**
Still unable to complete configurations with "npm run start" command.

[2019-02-13 13:44] jeromesimeon commented on #89
@MuhammadBilal1 I am not entirely sure why, the webpack log clearly shows the helloworld archive being copied to the server. I'm wondering if it might be a Windows related issue, but I don't have an easy way to test at the moment.

Could you let us know if you are able to load from an external URL (e.g.,
https://templates.accordproject.org/archives/helloworld@0.8.0.cta ). After pressing `cancel` y

[2019-02-13 13:49] jeromesimeon commented on #89
Also:
- what browser are you using?
- could you try and just copy-paste the local URL for the archive directly your browser window http://localhost:8080/static/archives/helloworld@0.8.0.cta see if it's working and if the archive is present?

[2019-02-13 17:53] MuhammadBilal1 commented on #89
@jeromesimeon  Thanks for you response.
Your first method (Import from templates.accordproject.org) worked.

I am using Google Chrome. But the result is same in IE & FireFox as well.

Copy-paste the http://localhost:8080/static/archives/helloworld@0.8.0.cta in browser directly gives no response. Browser keeps circling and gives no response.
Yes, directory exist at place.

Is there any setting rela

[2019-02-13 19:11] jeromesimeon commented on #89
Thanks @MuhammadBilal1 I think the first method shows that there is no issue loading a template, and that there is a problem when building.

I don't believe there is any setting specific to the file type, but it is using a plugin for webpack which copies files from ./static to an equivalent directory on the server side. The configuration for that is in `webpack.config.dev.js`:

[code]

I'm not sur

[2019-02-14 17:14] dselman opened #90 "Rich Text Full Contract Editor"
Provide a rich text editor that allows the user to embed clause templates.

[2019-02-14 17:22] Michael-Grover-C commented on #90
<img width="972" alt="smart contract template editor" src="https://user-images.githubusercontent.com/40569793/52804653-bc882000-3052-11e9-9113-ac4f8f8c39df.png">

This is a preview of a wireframe I'm working on for a full contract editor within the template studio. I'm going to post a higher fidelity digital version soon.

[2019-02-20 14:33] jeromesimeon opened #91 "Switch React state management to Redux"
React state management is getting pretty complex in Template Studio, with a lot of callback handlers. We should consider switching to Redux:

https://redux.js.org/introduction/getting-started
https://react-redux.js.org

[2019-02-21 20:03] jeromesimeon opened #92 "Template studio code should follow clean linter rules"
It would be useful to clearly document and automatically test linter rules on template studio.

A good set of rules for code quality was open-sourced and made public at: https://www.npmjs.com/package/@clausehq/eslint-config

[2019-02-21 20:06] jeromesimeon commented on #90
We should use the rich text editor published at https://www.npmjs.com/package/@accordproject/markdown-editor

[2019-03-21 12:18] contractpendev opened #95 "Open in template studio not working"
From this page click Open in template studio
"Could not load template, The template targets Cicero (^0.11.1) but the Cicero version is 0.10.2."
https://templates.accordproject.org/helloworldstate@0.10.0.html

Same for most other templates I assume
https://templates.accordproject.org/

[2019-03-21 12:19] dselman commented on #95
Yes, we need to update template studio to use Cicero v0.11. You should still be able to open the older versions of the templates.

[2019-03-21 12:22] dselman commented on #95
Working on this now.

[2019-03-29 01:54] contractpendev commented on #95
Hello, not working https://templates.accordproject.org/supplyagreement@0.9.0.html - would be nice to be working before Saturday so if people click at event they can view it in template studio.

[2019-03-29 07:50] dselman commented on #95
You can still open the prior versions of the templates - use the Versions drop down. Alternatively you can open compatible versions from with studio itself.

[2019-03-29 12:42] jeromesimeon commented on #95
@contractpendev Template Studio is still running Cicero 0.10, which shows most of the same templates.

[2019-03-29 17:40] jeromesimeon commented on #95
A branch of template studio which works (not thoroughly tested) on the current development version of Cicero is here https://github.com/accordproject/template-studio/tree/cicero-0.11

[2019-04-01 12:15] dselman opened #99 "Version 2"
We modularize Template Studio into a set of discrete React components, which interact via [Redux](http://redux.js.org).

## Ergo (Logic) Editor
- Based on https://github.com/react-monaco-editor/react-monaco-editor
- We should refactor the VSCode plugin to share the same Language Server and use it with the Monaco editor. https://github.com/TypeFox/monaco-languageclient
- https://langserver.org
- Ex

[2019-04-05 12:54] jeromesimeon commented on #99
This issue has been moved to https://github.com/accordproject/template-studio-v2/issues/1

[2019-04-05 12:54] #99 closed

[2019-04-05 12:56] jeromesimeon commented on #92
This issue has been moved to https://github.com/accordproject/template-studio-v2/issues/2

[2019-04-05 12:56] #92 closed

[2019-04-05 13:02] jeromesimeon commented on #90
This issue has been moved to: https://github.com/accordproject/react-components/issues/6

[2019-04-05 13:02] #90 closed

[2019-04-05 13:07] jeromesimeon commented on #91
This issue has been moved to https://github.com/accordproject/template-studio-v2/issues/3

[2019-04-05 13:07] #91 closed

[2019-04-05 13:08] jeromesimeon commented on #34
This issue has been moved to https://github.com/accordproject/template-studio-v2/issues/4

[2019-04-05 13:08] #34 closed

[2019-04-05 13:09] jeromesimeon commented on #6
This issue has been moved to: https://github.com/accordproject/template-studio-v2/issues/5

[2019-04-05 13:09] #6 closed

[2019-04-05 13:11] jeromesimeon commented on #8
This issue has been replaced by the more general one at https://github.com/accordproject/concerto-ui/issues/4

[2019-04-05 13:11] #8 closed

[2019-04-05 13:12] jeromesimeon commented on #16
We will investigate Monaco as part of the "Template Studio v2" effort. See https://github.com/accordproject/react-components/issues/3 and https://github.com/accordproject/concerto-ui/issues/1

[2019-04-05 13:12] #16 closed

[2019-04-05 13:19] jeromesimeon commented on #11
This issue has been moved to https://github.com/accordproject/react-components/issues/9

[2019-04-05 13:19] #11 closed

[2019-04-05 13:21] jeromesimeon commented on #28
There is some preliminary support for this already in #100 !

[2019-04-05 13:26] jeromesimeon commented on #51
@TheLaughableCoder We are moving toward a new code-base at https://github.com/accordproject/template-studio-v2

Would you mind reopening the issue there and closing this one? Would be much appreciated!

[2019-04-05 13:27] jeromesimeon commented on #28
This issue should be handled as part of https://github.com/accordproject/react-components/issues/9

[2019-04-05 13:27] #28 closed

[2019-04-05 13:29] jeromesimeon commented on #35
This should be taken into account when building the new model component at https://github.com/accordproject/concerto-ui/issues/1

[2019-04-05 13:29] #35 closed

[2019-04-05 15:18] jeromesimeon commented on #95
@contractpendev the "open in studio" button from the latest version of each templates should be working again. Can you please confirm?

[2019-04-05 21:12] jeromesimeon commented on #83
This issue has been moved to https://github.com/accordproject/cicero-ui/issues/8

[2019-04-05 21:12] #83 closed

[2019-04-05 21:14] jeromesimeon commented on #71
This issue has been moved to https://github.com/accordproject/template-studio-v2/issues/7

[2019-04-05 21:14] #71 closed

[2019-04-05 21:15] jeromesimeon commented on #67
This issue has been moved to https://github.com/accordproject/template-studio-v2/issues/8

[2019-04-05 21:15] #67 closed

[2019-04-05 21:20] jeromesimeon commented on #51
This issue has been moved to https://github.com/accordproject/template-studio-v2/issues/9

[2019-04-05 21:20] #51 closed

[2019-04-15 15:28] jeromesimeon commented on #95
This should now be resolved. Please re-open if any issue.

[2019-04-15 15:28] #95 closed

[2019-04-15 15:30] jeromesimeon opened #106 "Models imported with a URL do not get loaded"
When updating a model file with a new import with a `from URL` the model manager does not load the model.

E.g.,

Starting from the hello world template, and adding this line:
[code]

Does not provide access too the address type.

[2019-04-15 15:34] dselman commented on #106
Just found this one as well. We need to call: https://github.com/hyperledger/composer-concerto/blob/master/lib/modelmanager.js#L310

[2019-09-26 01:37] b30wulffz commented on #69
I would like to work on this issue.

[2019-09-27 15:47] irmerk commented on #69
@b30wulffz I think it may be better to aim for some other repositories we have (like [Template Studio v2](https://github.com/accordproject/template-studio-v2)). We are planning on replacing `template-studio` soon, so I may have jumped the gun by labeling this issue as Hacktoberfest.

[2019-10-02 13:20] 4katie opened #120 "Button to link to template library"
Feature request - Although there is a search box to look at the list of templates available, it would be nice to have a button that links to https://templates.accordproject.org/ (to see full list of templates and explanations).

[2019-10-02 16:24] rasfa98 commented on #120
@irmerk I can fix this! 🙂

[2019-10-12 18:14] jeromesimeon commented on #120
@irmerk I'm unsure if this is useful as well (per your PR comment), also it would help to have some design input and snapshot of what this looks like.

With Template Studio v2 being where most of the development work is happening, should we rather focus that question there anyway?

[2019-10-14 05:27] rasfa98 commented on #120
@irmerk @jeromesimeon Sorry for the late reply, I do not have as much time as i hoped for so I think it would be best to close my PR and let someone else take it.

[2019-10-25 07:45] PseudoNerd commented on #120
Can we not add the link as a list item in the new template dropdown ?

[2019-10-25 14:10] irmerk commented on #120
@4katie and @michael-grover any input?

[2019-10-25 14:45] jeromesimeon commented on #120
I've used this:
<img width="556" alt="Screenshot 2019-10-25 at 10 44 46 AM" src="https://user-images.githubusercontent.com/670099/67580522-7a9c9700-f714-11e9-9fbc-cb294e0f8318.png">

<img width="730" alt="Screenshot 2019-10-25 at 10 44 36 AM" src="https://user-images.githubusercontent.com/670099/67580533-7d978780-f714-11e9-9b19-e9fa7f568893.png">

in the `0.20` branch. What do you guys think?

htt

[2019-10-25 14:46] jeromesimeon commented on #120
the template library feels like it belong more than the search bar, rather than "new template" ? maybe @Michael-Grover can suggest something there?

[2019-10-25 18:42] Michael-Grover commented on #120
This tooltip looks like a dropdown menu. If we go this direction, let's make it center aligned so it looks more like a tooltip description and not a dropdown.

I think this link should open the template library in a new tab, because if a user clicks on this button without knowing what it does, they risk losing everything they wrote in the template editor.

Do you think this would belong in the hel

[2019-10-25 20:54] PseudoNerd commented on #120
I thought that having the template library in the new template dropdown will help the user to navigate to the template library page while looking for new templates.

[2019-10-26 15:41] nithilan4 opened #128 "There is a scrollbar when viewing the template studio app that does not need to exist"
My screen resolution is 1920x1080, and I see this when I visit the site.
![image](https://user-images.githubusercontent.com/43860191/67622149-ff52e800-f7dc-11e9-8287-f8cb5d8941d4.png)

It also messes with the "contribute on github" banner
![image](https://user-images.githubusercontent.com/43860191/67622166-227d9780-f7dd-11e9-82e9-566767d77a78.png)

[2019-10-26 15:48] jeromesimeon commented on #128
Thanks for the bug report @nithilan4

Could you please provide:
- OS info
- Browser info

[2019-10-26 15:49] nithilan4 commented on #128
OS: Windows 10 Home
Browser: Chrome

[2019-10-26 15:50] jeromesimeon commented on #128
Also, from your screenshot, something seems to be going wrong with the fonts. Here is mine:

![Screenshot 2019-10-26 at 11 49 41 AM](https://user-images.githubusercontent.com/670099/67622275-c91a6600-f7e6-11e9-8c1d-0ba2af2ab069.png)

This might be a distinct issue.

[2019-10-26 15:53] nithilan4 commented on #128
I tried on a chromebook, and got the same exact thing, along with scrollbar.

[2019-10-26 15:54] jeromesimeon commented on #128
Thanks! @irmerk would you mind reviewing @nithilan4's PR and see if the change would create issues on other browsers/platforms?

[2019-10-26 15:55] nithilan4 commented on #128
To be honest there shouldn't really be any bottom padding there. My chromebook has even larger of a scrollbar.

[2019-10-26 16:04] nithilan4 commented on #128
![image](https://user-images.githubusercontent.com/43860191/67622514-6c1bb180-f7e0-11e9-8304-9d4a9a05224a.png)
This is the source of the strange font issue.

[2019-10-26 16:07] jeromesimeon commented on #128
Would you be willing to work on a fix for that that could go into your PR? We can then review both. I'll have to find a Windows machine to try it out.

[2019-10-26 16:22] nithilan4 commented on #128
sure!

[2019-10-26 19:11] jeromesimeon opened #129 "TSv1 use of monospace fonts is broken on Windows"
TSv1 uses Menlo by default and the CSS does not fall back to a reasonable monospace fonts. Menlo isn't supported on Windows so this breaks the UI. This is particularly confusing with the error messages which rely on monospace:

<img width="1091" alt="Screenshot 2019-10-26 at 2 59 27 PM" src="https://user-images.githubusercontent.com/670099/67624754-d7767b00-f802-11e9-9d7f-568920975934.png">

[2019-10-26 19:11] jeromesimeon commented on #129
There is already a PR which fixes this at #127

[2019-10-26 19:18] jeromesimeon commented on #128
I could reproduce the issue with certain sizes on Windows:
<img width="1305" alt="Screenshot 2019-10-26 at 3 16 19 PM" src="https://user-images.githubusercontent.com/670099/67624809-bd896800-f803-11e9-9496-7083e6f2d4a9.png">

It does look nicer with the proposed fixed in #127
<img width="1301" alt="Screenshot 2019-10-26 at 3 16 32 PM" src="https://user-images.githubusercontent.com/670099/67624812-

[2019-10-26 19:27] jeromesimeon commented on #129
Fixed in #127

[2019-10-26 19:27] #129 closed

[2019-10-26 21:01] irmerk commented on #128
I believe this is finished with #127

[2019-10-26 21:01] #128 closed

[2019-10-30 19:31] Michael-Grover commented on #120
@jeromesimeon I think that looks really good

[2019-10-30 19:33] jeromesimeon commented on #120
@4katie Does it look good enough, would this solution address your question/concern?

[2019-10-30 20:30] 4katie commented on #120
Yes! Even the icons are perfect :)

[2019-10-30 21:04] jeromesimeon commented on #120
Great! Thanks @4katie I'm closing this issue as resolved.

[2019-10-30 21:04] #120 closed

[2020-03-21 06:28] algomaster99 opened #143 "Error dialogue overlapping with the content on page"
Some content in `model.cto` (here `Response` transaction) is not visible since the error dialogue overlaps the content. I think a good solution would be to make this dialogue resizable.

Currently one can enter many spaces at the end as a workaround. :sweat_smile:
![Screenshot from 2020-03-21 11-52-00](https://user-images.githubusercontent.com/35191225/77220868-8036c580-6b6a-11ea-8186-9afbd7cc78ea

[2020-03-28 19:43] nik72619c commented on #69
Hi, is this issue currently under progress or can it be taken up ?

[2020-03-28 19:46] jeromesimeon commented on #69
hi @nik72619c It's not under progress but we aren't pushing more work on template studio at the moment (see news around UX / UI / tooling in Slack from a couple of weeks ago).

There are lots of useful work items on other UI components though! Please check `cicero-ui` or `concerto-ui`.

[2020-03-28 21:44] nik72619c commented on #69
got it, thanks @jeromesimeon!

[2020-07-30 15:42] JohnGr001 opened #151 "Search Page does not return the search list since 0.21.0 was installed @ weekend"
![Perish missing](https://user-images.githubusercontent.com/11303130/88943532-814bd200-d283-11ea-9d7a-5a9aa2087de6.GIF)
![signature only present](https://user-images.githubusercontent.com/11303130/88943533-81e46880-d283-11ea-8575-ae785d0cca2b.GIF)

The search returns only one item when empty. When you enter a partial name it returns nothing.

[2020-07-30 15:54] jeromesimeon commented on #151
The search should be made more robust, and based on the currently supported version of Cicero rather than on the latest version.

[2020-07-31 11:56] JohnGr001 opened #152 "Template Studio doesnmt like the template when its uploaded(after download)"
I downloaded the supplyagreement V 0.12.1, then immediately uploaded it back up into a new project (newsupplyagreement)
to change it. It tells me :

  "[Change Model] Namespace is not defined for type org.accordproject.usa.state.* File 'model/model.cto': "

Its like it cant see the Namespace model, past6ing the URL into the web browser downloads the cto file. for usa.state

[2020-09-01 19:06] scheung38 opened #158 "[Question] How to deploy to Fabric: ERROR: manifest for hyperledger/fabric-ca:latest not found: manifest unknown: manifest unknown"
Following in here:

https://accord.gitbook.io/accord-project/#on-amazon-web-services

Provision your Hyperledger Fabric instance

git clone https://github.com/clauseHQ/fabric-samples
cd fabric-samples
git checkout master

cd fabric-samples/cicero

./startFabric.sh.

./startFabric.sh

# don't rewrite paths for Windows Git Bash users
export MSYS_NO_PATHCONV=1

docker-compose -f docker-compose.yml do

[2020-09-02 21:31] jeromesimeon commented on #158
This issue isn't specific to template studio. I'm unclear whether this is a HLF issue, or an issue with the current tutorial. I'm migrating this issue to the techdocs project for now.

[2021-05-27 14:31] ahumaira11 opened #177 "Error in Model when importing org.project.time.*"
**Describe the bug**
When importing the time package into an empty template using the line "import org.accordproject.time.* from https://models.accordproject.org/v2.0/time.cto" as seen in the Cicero templates, an error that says "[Change Model] Namespace is not defined for type org.accordproject.time.* File 'model/model.cto':" occurs.

<img width="753" alt="error" src="https://user-images.githubus

[2021-07-15 13:08] norweis commented on #106
I also found that most model imports do not work properly. I needed to copy the contents of the URL into the model.

[2021-07-15 13:08] norweis commented on #152
I also found that most model imports do not work properly. I needed to copy the contents of the URL into the model.

[2021-07-15 13:08] norweis commented on #177
I also found that most model imports do not work properly. I needed to copy the contents of the URL into the model.

[2021-07-15 13:11] jeromesimeon commented on #106
Could you be more specific and provide an example, please?

[2021-07-15 13:32] norweis opened #179 "Variables within #optional body are reported as unknown"
In the Contract Grammar field, variables within #optional body are reported as unknown. E.g. (with "String name optional" in a model), the following reports: "Unknown property: name File text/grammar.tem.md line -1 column -1":

      {{#optional name}} Name: {{name}} {{/optional}}

No variables are evaluated within the #optional Body.

## Expected Behavior
In https://docs.accordproject.org/docs/ma

[2021-07-15 13:46] norweis commented on #106
Okay, already 3 people posted examples for this long time error in #152, #177, and this one.

Here is a forth example for a model.cto file:
   import org.accordproject.address.PostalAddress from https://models.accordproject.org/address.cto

It reports:
   [Change Model] Namespace is not defined for type org.accordproject.address.PostalAddress File 'model/model.cto'

The URL is valid, since one can

[2021-07-15 13:54] jeromesimeon commented on #106
I'm trying to understand if your report is a new issue, or an existing one. This is the same issue as previously, correct?

[2021-07-15 13:54] norweis commented on #179
The background for this is that I am currently evaluating the use of Accord for International Data Spaces IDS Data Usage Contracts, see https://internationaldataspaces.org/.
Such a contract has many clauses which are activated by contract model variables when set, and the value of such a variable should be displayed within the the text for that clause.

[2021-07-15 13:59] norweis commented on #106
It seems to be the same issue as this one and its possible duplicates in #152, #177, so I did not open a forth issue for this error.

[2021-07-15 14:01] jeromesimeon commented on #179
Hi @norweis,

When you write an optional block:

[code]

This changes what variables are in scope for the content of that block:
[code]

So in the case where `name` is an atomic type you can use the special variable `{{this}}` which should contain the name:

[code]

For a complex type though you would most likely write something like this:
[code]

Assuming `name` is something like:
[code]

[2021-07-15 14:08] norweis commented on #179
Thank you. It works. But it is not documented.

[2021-07-15 14:11] norweis commented on #179
A small error remains: Unknown property: name File text/grammar.tem.md line -1 column -1":
It should report the correct line, column of the occurence of name, and possibly the hint : do you mean {{this}}

[2021-07-15 14:14] jeromesimeon commented on #179
This issue isn't about template studio. Moving it to Cicero, more relevant.

[2021-07-15 16:02] jeromesimeon commented on #106
@norweis Just FYI: development / maintenance of template studio has been on hold for a while. For more active development we recommend the VSCode plugin which is more robust.

[2022-02-01 14:58] PaarthAgarwal opened #185 "Replacing GitHub ribbon with GitHub button"
This "contribute on GitHub" ribbon can be replaced with a GitHub button like the one present on all the pages of the website.
This will bring consistency in look.

[2022-02-01 15:00] PaarthAgarwal commented on #185
Should I move ahead with this issue?

[2022-02-05 09:13] PaarthAgarwal commented on #185
Changing this
![image](https://user-images.githubusercontent.com/86092410/152635747-271a4b54-60be-4f83-945b-4896970f9750.png)
to this
![image](https://user-images.githubusercontent.com/86092410/152635769-4a563fe0-9986-46b0-818e-88bfe655cf20.png)
@martinhalford

[2022-02-06 05:45] martinhalford commented on #185
I’m not sure this is an improvement.

[2022-11-10 17:47] Aazim-parwaz commented on #151
Hi, Kindly assign this issue to me.